<%- include partials/header.ejs %>
  
<%- include partials/main_nav.ejs %>
  <!--Main Content-->
  <main>
    <% if (title == "Home") { %>
      <%- include partials/home.ejs %>
    <% } else if (title == "About") { %>
      <%- include partials/about.ejs %>
    <% } else if (title == "Projects") { %>
      <%- include partials/projects.ejs %>
    <% } else if (title == "Services") { %>
      <%- include partials/services.ejs %>
    <% } else if (title == "Contact") { %>
      <%- include partials/contact.ejs %>
    <% } 
    %> 
  </main> 

  <%- include partials/bottom_nav.ejs %>
  <%-include partials/footer.ejs %>