<!-- Index View -->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  <!--Main Content-->
  <main>
    <% if (title == "Home") { %>
      <%- include content/home.ejs %>
    <% } else if (title == "About") { %>
      <%- include content/about.ejs %>
    <% } else if (title == "Projects") { %>
      <%- include content/projects.ejs %>
    <% } else if (title == "Services") { %>
      <%- include content/services.ejs %>
    <% } %> 
  </main> 

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>