<!-- Login View -->

<%- include('../partials/header.ejs') -%>
<%- include('../partials/main_nav.ejs') -%>

<main class="container mt-5">

  <!-- Message Area-->

  <% if (messages.length > 0) { %>
    <div class="alert alert-danger">
      <%= messages %>
    </div>
  <% } %>
  <div class="row">

    <!-- Form Area-->
    <div class="offset-md-4 col-md-4">
      
      <h1>Please Login</h1>

      <form method="POST" autocomplete="off">

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" 
          id="username" 
          name="username" 
          placeholder="Enter username"
          required autofocus>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control mb-1" 
          id="password" 
          name="password"
          placeholder="Enter password"
          required>
          or
          <a href="/register"> register here</a>
        </div>

        <div class="form-group text-right">
          <input type="submit" class="btn btn-success mr-1" value="login">
          
          <a href="/">
            <input type="button" class="btn btn-warning" value="cancel">
          </a>
        </div>
      </form>
    
    </div>
  </div>
</main>

<%- include('../partials/bottom_nav.ejs') -%>
<%- include('../partials/footer.ejs') -%>